* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;

}


/* FONT SPECS */
p {
  font-size: 20px;
  line-height: 25px;
}

h1 {
  font-size: 35px;
}


/* FINE FONT SPECS */

img {
  max-width: 100%;
}

section {
  padding: 48px 0;
}

.container,
.container1,
.container-slate1,
.container-aqua,
.container-mago {
  max-width: 1000px;
  margin: 0 auto;
}



/* regole di reset inserite */

.debug header {
  min-height: 10px;
  background-color: #255EE9;
  padding: 20px
}

.link span{
  padding: 10px;
}

/* (su) visualizzo il colore e formato minimo
dell'header per poter lavorare con un
corrispettivo visivo */

.debug .container {
  padding: 5px;
  /* background-color: gold; */
  border: 4px dashed black;
  text-align: center;
}

span {
  color: white;
}

button{
  all: unset;
  cursor: pointer;
  background-color: white;
  border: 10px solid white;
  border-radius: 15px;
}

.tasto-bianco {
  margin: 20px 0px 0px 5px;
}

.tasto-nero {
  margin: 20px 0px 0px 5px;
  background-color: #23272A;
  border-color: #23272A;
  color: white;
}

.tasto-viola {
  
  background-color: #7289DA;
  border-color: #7289DA;
  color: white;

}

/* (su) creo un bordo tratteggiato per visualizzare
la forma del mio primo flex-container. */

.debug .col {
  border: 4px dashed black;
}


.row {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; ????? *****/
}

header .row {
  justify-content: space-between;
}

/* devi lavorare sulla direzione per creare tre sezioni
diverse sul giallo */

.row .col {
  flex-basis: 20%;
}

.link {
  flex-grow: 1;
  text-align: center;
}

/* sezione quadrato fucsia ****/


.debug .blu {
  min-height: ;
  background-color: blue;
  padding: 20px;
  
}

.row {
  justify-content: center;
}

/* immagine background prima sezione */
.blu {
  background: url(./../img/jumbo.png);
  background-size: cover;
}

.row .fuchsia-square {
  /* background-color: fuchsia; */
  flex-basis: 100%;
  min-height: 300px;
  text-align: center;
  max-width: 700px;
}

.container-blu {
  margin: 0 auto;
  
}

.color-title,
.color-description {
  color: white;
}




/* creata flex basis per dare il 20% a logo e login,
poi incrementata parte centrale dei vari link in modo 
che occupi il rimanente */

/***** SVILUPPO CONTENUTO PAGINA *****/

/* CREATA UNA SECONDA SERIE DI CLASSI PER LA VERSIONE
CON SFONDO GRIGIO */

/* SEZIONI CON ASIDE E MAIN *********************/



.debug .white {
  /* min-height: 600px; */

  background-color: white;
  padding: 20px;
}

.debug .grey {
  /* min-height: 600px; */
  
  background-color: #F6F6F6;
  padding: 20px;
}

.row .aside {
  flex-basis: 60%;
  /* background-color: lightskyblue; */
  /* min-height: 500px; */
}


.row .main {
  flex-basis: 40%;

  /* background-color: lightpink; */
  /* min-height: 500px; */
}

.row-reverse {
  flex-direction: row-reverse;
}

.div-content > * {
  padding: 30px 20px 20px 20px;
}

/* SEZIONE SFONDO GRIGIO QUADRATO VERDE */

.row .green-square {
  /* background-color: green; */

  flex-basis: 100%;
  min-height: 700px;
}

h2,
button {
  text-align: center;
}


.container-mago {
  display: flex;
  justify-content: center;
}

.row-mago {
  
}

.col-mago {
  text-align: center;
}

.button-center {
  text-align: center;
}

#question {
  font-size: 30px;
}















/* SEZIONE ELEMENTI INCOLONNATI SFONDO SLATE */

.debug .slate {
  /* min-height: 300px; */
  background-color: #23272A;
  padding: 20px;
}

.colmain,
.colsecondary {
  min-height: ;
}

.colmain {
  /* background-color: salmon; */

}

.colsecondary {
  /* background-color: teal; */
}

.row .colmain {
  flex-basis: 35%;
}

/* reset stile ul lista */

ul {
  list-style-type: none; 
  color: #7289DA;
}

li {
  padding: 10px;
  color: white;
}

.slogan-footer {
  font-size: 30px;
}

.bandiera-italiana {
  max-width: 20px;
}

/* SEZIONE FINALE SLATE CON LOGO BOTTONE */

.debug .container-aqua {
  padding: 30px 0px;
  /* background-color: aqua; */
  /* border: 4px dashed black; */

  border-top: 5px solid #7289DA;
}


.logo2,
.button {
  /* background-color: pink; */
  text-align: center;
}

.row-footer {
  justify-content: space-between;
}

/* all'intero della prima parte del footer andremo
ad aggiungere una unordered LIST, con tutti i
list item, questo ci serve per disporre il tutto
in verticale, ed anche perche pensandoci,
sono alla fine una lista gli elementi nel footer. */

